{{#if this.custom.dungeontavern.dungeon_run_id}}
  <li>
    <a href="/dungeontavern/dungeon/{{this.custom.dungeontavern.dungeon_run_id}}"
       target="_blank" class="dropdown-item">
      Dungeon HUD ↗
    </a>
  </li>
  <li>
    <a href="#" {{action 'dtEndDungeonRun'}} class="dropdown-item">
      End Dungeon Run
    </a>
  </li>
{{else}}
  <li>
    <a href="#" {{action 'dtStartDungeonRun'}} class="dropdown-item">
      Start Dungeon Run
    </a>
  </li>
{{/if}}

{{#if this.custom.dungeontavern.tavern_night_id}}
  <li>
    <a href="/dungeontavern/tavern/{{this.custom.dungeontavern.tavern_night_id}}"
       target="_blank" class="dropdown-item">
      Tavern HUD ↗
    </a>
  </li>
  <li>
    <a href="#" {{action 'dtCloseTavernNight'}} class="dropdown-item">
      Close Tavern Night
    </a>
  </li>
{{else}}
  <li>
    <a href="#" {{action 'dtStartTavernNight'}} class="dropdown-item">
      Open Tavern Night
    </a>
  </li>
{{/if}}

<li>
  <a href="#" {{action (mut this.selectPbtaRoll) true}} class="dropdown-item">PbtA Roll</a>
</li>

<PbtaRoll
  @stats={{this.custom.pbta.stats}}
  @moves={{this.custom.pbta.all_moves}}
  @scene={{this.scene}}
  @selectPbtaRoll={{this.selectPbtaRoll}}
  @onClose={{action (mut this.selectPbtaRoll) false}}
  @onRollStat={{action "pbtaRollStat"}}
  @onRollMove={{action "pbtaRollMove"}} />
